@import './../../styles/variables.scss';
.valute {
	display: flex;
	flex-direction: column;

	h2 {
		color: $primary-color;
		margin-bottom: 30px;
	}
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 12px;
		overflow: scroll;
		height: calc(100vh - 100px);
	}
}
.valute__item {
	color: $dark-color;
	list-style: none;
	background-color: $secondary-color;
	border: 2px solid $primary-color;
	border-radius: 8px;
	padding: 12px 18px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	.item__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p, div{
			min-width: 70px;
			// width: 10%;
			// background-color: $primary-color;
		}
		p:first-child{
			width: 10%;
		}
		p:nth-child(3){
			width: 25%;
		}
		button {
			width: 40px;
			border: none;
			border-radius: 50%;
			color: $base-bg-color;
			background-color: $primary-color;
			cursor: pointer;
			&:first-child {
				background-color: transparent;
			}
			
		}
		div {
		}
	}
	.item__icon{
		color: $primary-color;
		transition: all .5s ease;
	}
}
