*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	background: #fff;
}
a, button{
	cursor: pointer;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
